<!DOCTYPE html>
<html>
<head>
    <title>My Django Blog</title>
</head>
<body>
    <nav>
        {% if user.is_authenticated %}
            <p>Welcome, {{ user.username }} | 
               <a href="{% url 'blog:logout' %}">Logout</a> | 
               <a href="{% url 'blog:profile' %}">Profile</a>
            </p>
        {% else %}
            <a href="{% url 'blog:login' %}">Login</a> | 
            <a href="{% url 'blog:register' %}">Register</a>
        {% endif %}
        <hr>
    </nav>

    {% block content %}{% endblock %}
</body>
</html>
